version: "3"

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'America/Chicago'
    volumes:
      - etc-pihole:/etc/pihole/'
      - etc-dnsmasqd:/etc/dnsmasq.d/'
    restart: unless-stopped

volumes:
    etc-pihole:
    etc-dnsmasqd:
