name: pi4

on:
  push:
    branches:
      - 'master'

jobs:
  kubectl:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Kubernetes CLI - kubectl
        uses: steebchen/kubectl@v2.0.0
        with:
          config: ${{ secrets.KUBE_CONFIG_DATA }}
          command: '"apply -f app -f ddclient -f terraform -f game -f wireguard"'
